// All the custom Variables for this theme //

// Variables
// --------------------------------------------------

//Theme Fonts
$default: $font-family-sans-serif;
$sans: $font-family-sans-serif;

//Font Weights
$bold: 600;
$light: 300;

//Theme Colors
$primary: theme-color('primary');
$secondary: theme-color('secondary');